* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  background-color: lightgray;
  padding: 4px;
  border: 2px solid orange;
  margin: 3px;
}

h2 {
  margin-top: 40px;
}

.bookmark {
  position: absolute;
  padding: 2px;
  top: 60px;
  left: 290px;
  height: 25px;
  width: 50px;
  background-color: orange;
  border: 2px solid black;
  text-align: center;
}

.bookmark2 {
  position: absolute; /*warum funktioniert das nicht?*/
  padding: 2px;
  top: 100px;
  left: 400px;
  height: 25px;
  width: 50px;
  background-color: orange;
  border: 2px solid black;
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  padding: 6px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  border: 1px black solid;
  width: 90%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: orange;
  padding: 1px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  line-height: 25px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: lightgray;
  height: 30px;
  border: 1px black solid;
  /* position: fixed;
    bottom: 0; */
}
