img {
  position: absolute;
  right: 40px;
  top: 110px;
}

.header_headline {
  color: var(--primary);
  text-align: center;
  background-color: var(--fourth);
  padding: 4px;
  border: 2px solid var(--secondary);
  margin: 3px;
}

.card__bookmark {
  font-size: 2.5rem;
  position: absolute;
  right: 30px;
  top: -15px;
  z-index: 10;
  background-color: var(--fourth);
  color: var(--primary);
}

.card {
  position: relative;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #183151;
  width: 100%;
}

li {
  background: var(--secondary);
  padding: 1px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  line-height: 25px;
  color: var(--third);
  font-size: 20px;
  text-align: center;
}

.card__answeroptions {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card__answers:hover {
  background-color: #183151;
  transform: scale(1.2);
  transition: transform 0.4s ease;
}

.card__paragraph--question {
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #183151;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  color: #ffffff;
  text-align: center;
  padding: 15px 0px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ff5a36;
  color: black;
}
