:root {
  --primary: #183151;
  --secondary: #ff5a36;
  --third: #ffffff;
  --fourth: #f7f7f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--third);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 20;
  overflow: hidden;
}

main {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  color: var(--primary);
  text-align: center;
  background-color: var(--fourth);
  padding: 4px;
  border: 2px solid var(--secondary);
  margin: 3px;
  background: linear-gradient(180deg, var(--secondary), var(--fourth));
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin: 1rem;
  padding: 10px;
  background-color: var(--secondary);
  border-radius: 20px;
  border: 1px solid var(--primary);
}
